$color-white: #fff;
$color-gray-1: #eee;
$color-gray-2: #333;
$color-black: #000;

$color-blue: #4158D0;
$color-purple: #C850C0;
$color-yellow: #d6ad5f;
$color-orange: #FFA062;
$color-red: #ff2282;
$color-red-light: #FF56A0;


$font: 'Roboto', sans-serif;;