.btn:link,
.btn:visited {
  min-width: 30%;
  border: 2px solid $color-gray-1;
  font-size: 2.4rem;
  text-decoration: none;
  color: $color-gray-1;
  border-radius: 0.5rem;
  padding: 1rem 0;
  margin-bottom: 2rem;
  transition: all .2s;
}

.btn:hover,
.btn:active {
  background-color: rgba($color-white, .1);
}

.btn__mark {
  display: none;
}

.btn-delete:link,
.btn-delete:visited {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: $color-red;
  color: $color-white;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  transition: all .2s;
}

.btn-delete:hover,
.btn-delete:active {
  background-color: $color-red-light;
}
